<div class="card-body border border-2 bg-secondry rounded px-3">
    <p><span style="color: green">Beds Available :</span> 12 beds</p>
    <h5 class="card-title">Hospital Name : Sharda Hospital</h5>
    <p class="card-text">Contact No. : 9856743423</p>
    <span class="text-right"
        ><a href="#" class="btn btn-primary text-right">Book Now</a></span
    >
</div>

<div class="card-body border border-2 bg-secondry rounded px-3">
    <p><span style="color: green">Beds Available :</span> 7 beds</p>
    <h5 class="card-title">Hospital Name : Kailash Hospital</h5>
    <p class="card-text">Contact No. : 9556843453</p>
    <span class="text-right"
        ><a href="#" class="btn btn-primary text-right">Book Now</a></span
    >
</div>

<div class="card-body border border-2 bg-secondry rounded px-3">
    <p><span style="color: green">Beds Available :</span> 15 beds</p>
    <h5 class="card-title">Hospital Name : Yatharth Hospital</h5>
    <p class="card-text">Contact No. : 7356743423</p>
    <span class="text-right"
        ><a href="#" class="btn btn-primary text-right">Book Now</a></span
    >
</div>

<div class="card-body border border-2 bg-secondry rounded px-3">
    <p><span style="color: green">Beds Available :</span> 10 beds</p>
    <h5 class="card-title">Hospital Name : Arogaya Hospital</h5>
    <p class="card-text">Contact No. : 6356743423</p>
    <span class="text-right"
        ><a href="success.html" class="btn btn-primary text-right"
            >Book Now</a
        ></span
    >
</div>
